<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3 class="mb-3">Edit your listing</h3>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                    <div class="valid-feedback">Title Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="" cols="30" rows="10" type="text" class="form-control"><%=listing.description%></textarea required>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    Original Listing image <br>
                    <img src="<%=originalImageUrl%>" alt="" style="width: 300px; height: 200px;">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-5" >
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                    </div>
                    <div class="mb-3 col-md-7">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">Please enter the country name</div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="locaiton" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">Please enter the location</div>
                </div>
                
                <button  class="btn mb-3" style="background-color: #fe424d !important; color: white; border: none !important;">Edit</button>
            </form>
        </div>
    </div>
</body>

